<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gala</title>
</head>

<body>
    <form>
        <label>Birthday</label>
        <input type="date" id="birthday" name="birthday">
        <br>
        <label>Gender</label><br>
        <input type="radio" id="female" name="female" value="Female">
        <label for="html">Female</label><br>
        <input type="radio" id="male" name="male" value="Male">
        <label for="html">Male</label><br>
        <label>Email</label>
        <input type="email" id="email" name="email"><br>
        <input type='submit'>
    </form>
</body>

</html>